<div class="row mt-5">
    <div class="col-lg-4 offset-lg-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
            <div class="card-header">Agregar Venta</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="agregarVenta()">
                    <div>
                        <label for="" class="form-label mt-4">Cliente</label>
                        <select class="form-select" id="cliente">
                          <option *ngFor="let item of ventas">{{item.cliente}}</option>
                        </select>
                      </div>
                    <input formControlName="folio" type="text" class="form-control mt-2" placeholder="Folio">
                    <input formControlName="fecha" type="text" class="form-control mt-2" placeholder="Fecha">
                    <div>
                        <label for="" class="form-label mt-4">Producto</label>
                        <select class="form-select" id="producto">
                          <option *ngFor="let item of ventas" value="{{item.producto}}">{{item.producto}}</option>
                        </select>
                      </div>
                    <input formControlName="cantidad" type="number" class="form-control mt-2" placeholder="Cantidad">
                    <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button routerLink="/" type="button" class="btn btn-outline-info">Volver</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-outline-success">Agregar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>